name: First Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2

      - name: Print welcome message
        run: echo "Welcome to our first GitHub Actions workflow"

      - name: List repository files
        run: ls -la
